version: '2'
services:
  # The Application
  app:
    build:
      context: ./docker
      dockerfile: app.dockerfile
    working_dir: /var/www
    volumes:
      - "$PWD:/var/www"
    restart: always
    depends_on:
      - database
    links:
      - database
  # The Web Server
  web:
    build:
      context: ./docker
      dockerfile: web.dockerfile
    working_dir: /var/www
    volumes_from:
      - app
    restart: always
    ports:
      - 60080:80
  # The Database
  database:
    image: postgres:9.5
    volumes:
      - "$PWD/docker/.data/db:/var/lib/postgresql/data"
    restart: always
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: upakaara
  redis:
    image: redis
    restart: always  
    ports:
      - 6378:6378
  chrome:
    image: robcherry/docker-chromedriver
    environment:
      CHROMEDRIVER_WHITELISTED_IPS: ""
      CHROMEDRIVER_PORT: "9515"
    ports:
      - 9515:9515
    cap_add:
      - "SYS_ADMIN"