version: '2'
services: 
  db:
    extends:
      file: ./docker/base/docker-compose.yml
      service: db
  web:
    extends:
      file: ./docker/base/docker-compose.yml
      service: app
    links:
      - db
      - s3
    ports: 
      - 60080:80
  laravel-mix:
    extends:
      file: ./docker/base/docker-compose.yml 
      service: laravel-mix
  s3:
    image: minio/minio
    ports:
      - 60081:9000
    volumes:
      - "$PWD/docker/.data/s3:/data"
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    command: "server /data"